@media not screen and (max-width: 812px) {

	@keyframes move-overlay {
		from { background-position: 0 0; }
		to { background-position: -10000px 5000px; }
	}

	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	.stars, .stars-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: block;
	}

	.stars {
		z-index: -2;
	}
	.stars svg {
		animation: spin 800s linear infinite;
	}

	.stars-overlay {
		background: transparent url(overlay.png) repeat top center;
		z-index: -1;

		animation: move-overlay 800s linear infinite;
	}

	section {
		background-color: rgba(0, 0, 0, 0.8);
	}

	@supports (backdrop-filter: blur()) {
		section {
			backdrop-filter: blur(3px);
			background-color: transparent;
		}
	}
}

@media only screen and (max-width: 812px) {
	.stars, .stars-overlay {
		display: none;
	}
}
