:root {
	--link-color: #fff;
	--background-color: #000;
	--font-color: rgba(255, 255, 255, 0.8);
	--headline-color: #fff;
	--page-width: 690px;
}

@font-face {
	font-family: 'ISOCPEUR';
	src: url('fonts/ISOCPEUR.eot');
	src: url('fonts/ISOCPEUR.eot?#iefix') format('embedded-opentype'),
		url('fonts/ISOCPEUR.woff2') format('woff2'),
		url('fonts/ISOCPEUR.woff') format('woff'),
		url('fonts/ISOCPEUR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, Ubuntu, Arial, sans-serif;
	color: var(--font-color);
	background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	color: var(--headline-color);
	font-family: 'ISOCPEUR';
	font-weight: normal;
	font-style: normal;
}

main {
	width: var(--page-width);
	margin: 0 auto;
}

h1 {
	font-size: 4.242rem;
	line-height: 4.5rem;
	margin-top: 3rem;
}
h2 {
	font-size: 2.828rem;
	line-height: 3rem;
	margin-top: 3rem;
}

.lead {
	font-size: 1.6rem;
	line-height: 1.3;
	font-family: 'ISOCPEUR';
	font-weight: normal;
	font-style: normal;
}

.lead h1 {
	font-size: 6rem;
}

a {
	text-decoration: none;
	color: var(--link-color);
	border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

a:hover, a:active {
	border-bottom-color: rgba(255, 255, 255, 0.75);
}

.map-link, .map-link:hover, .map-link:active {
	border-bottom: none;
}

.map-link {
	display: block;
	text-align: center;
	margin: 16px 0 0 0;
}

b {
	color: var(--link-color);
}

article p {
	margin-top: 0;
}

p {
	text-align: justify;
}

@media only screen and (max-width: 812px) {
	body { margin: 16px; }
	main { width: 100%; }
}

address {
	font-style: normal;
	line-height: inherit;
}

.columns {
	display: flex;
	flex-direction: row;
}
.columns div {
	width: 100%;
}

.journey img {
	width: 16px;
}
/*
.journey dd {
	margin: 0;
}
*/

footer {
	margin: 16px 0;
	font-size: 10px;
	text-align: center;
}
