@media not screen and (max-width: 812px) {

	@keyframes move-overlay {
		from { background-position: 0 0; }
		to { background-position: -10000px 5000px; }
	}

	@keyframes spin {
		from { transform: translateZ(0) rotate(0deg); }
		to { transform: translateZ(0) rotate(360deg); }
	}

	#stars, #stars-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: block;
	}

	.stars {
		z-index: -3;
		svg {
			animation: spin 800s linear infinite;
		}
	}

	#constellations {
		z-index: -2;
		position: absolute;
		top: 50px;
		left: 50px;
		width: 640px;
		height: 610px;
		background: url(../images/wagen.svg) no-repeat;
	}

	#stars-overlay {
		background: transparent url(../images/overlay.png) repeat top center;
		z-index: -1;

		animation: move-overlay 800s linear infinite;
	}
}

@media only screen and (max-width: 812px) {
	#stars-overlay {
		display: none;
	}
	#stars svg {
		animation: none;
	}
}
